<section class="content">
    <div class="box box-default" ng-class="{'loading': isLoading}" st-table="data" st-pipe="list">
        <div class="box-header">
            <h3 class="box-title">申报单查询</h3>
            <div class="dropdown" uib-dropdown ng-show="config.customs">
                <a class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
                    <span ng-bind="paras.hgName"></span><span class="caret"></span>
                </a>

                <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="btn-append-to-single-button">
                    <li ng-repeat='row in config.customs'><a ng-click="changeCustom(row.key)" st-action>{{row.value}}</a></li>
                </ul>
            </div>
            <nr-breadcrumb></nr-breadcrumb>  
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="box-filter margin-bottom">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">商家订单号</span>
                            <input type="text" class="form-control col-xs-9" ng-model="paras.search.orderNo" placeholder="请输入商家订单号">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">申报单号</span>
                            <input type="text" class="form-control col-xs-9" ng-model="paras.search.mftNo" placeholder="请输入申报单号">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">商家名称</span>
                            <input type="text" class="form-control col-xs-9" ng-model="paras.search.bcode" placeholder="请输入商家名称">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">状　态</span>
                            <div class="box-select">
                                <label ng-repeat="v in config.status">
                                    <input type="radio" value={{v.key}} ng-model="paras.search.declareStatus" />
                                    <span>{{v.value}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="config.area.length">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">关　区</span>
                            <div class="box-select">
                                <label ng-repeat="v in config.area">
                                    <input type="radio" value={{v.key}} ng-model="paras.search.customArea" />
                                    <span>{{v.value}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">下单时间</span>
                            <div class="box-select">
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickDate" name="date" value="" ng-change="setDateRange()" />
                                    <span>全部</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickDate" value='0' ng-change="setDateRange()" />
                                    <span>今天</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickDate" value='1' ng-change="setDateRange()" />
                                    <span>昨天</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickDate" value='7' ng-change="setDateRange()" />
                                    <span>最近7天</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickDate" value='30' ng-change="setDateRange()" />
                                    <span>最近30天</span>
                                </label>
                                <label>
                                    <i class="fa fa-calendar date-icon"></i>
                                    <input date-range-picker class="form-control date-picker" type="text" ng-model="paras.searchDate" options="config.date_range_options" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">创建时间</span>
                            <div class="box-select">
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickCreateDate" name="createTime" value="" ng-change="setCreateDateRange()" />
                                    <span>全部</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickCreateDate" value='0' ng-change="setCreateDateRange()" />
                                    <span>今天</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickCreateDate" value='1' ng-change="setCreateDateRange()" />
                                    <span>昨天</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickCreateDate" value='7' ng-change="setCreateDateRange()" />
                                    <span>最近7天</span>
                                </label>
                                <label>
                                    <input type="radio" ng-model="paras.searchQuickCreateDate" value='30' ng-change="setCreateDateRange()" />
                                    <span>最近30天</span>
                                </label>
                                <label>
                                    <i class="fa fa-calendar date-icon"></i>
                                    <input date-range-picker class="form-control date-picker" type="text" ng-model="paras.searchCreateDate" options="config.date_range_options" />
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div>
                    <button class="btn btn-normal" st-action>查询</button>
                    <button class="btn btn-op" ng-click="reset()">重置</button>
                </div>
            </div>
            <!-- 功能操作区 -->
            <div class="box-operation">
                <div class="operation-wrap">
                    <button class="btn btn-op disabled"><i class="fa fa-download fa-only"></i></button>
                    <button class="btn btn-normal" batch-op="{'data':data ,'title':'注意','content':'确定取消选中订单？', 'callback':removeOrder}">取消订单</button>
                </div>
                <div class="operation-quick">
                    <button class="btn btn-op" custom-fields="config.fields"><i class="fa fa-gear fa-only"></i></button>
                </div>
            </div>
            <div class="box-data">
                <table class="table table-bordered table-striped" ng-table-check>
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" ng-model="paras.checkall"/>
                                    <i class="fa"></i>
                                </label>
                            </th>
                            <th ng-repeat="row in config.fields | filter: {display:true}" st-sort="{{row.key | snake}}" st-sort-enable="{{row.sort}}">{{row.value}}</th>
                        </tr>
                    </thead>
                    <tbody ng-if="!data.length">
                        <tr>
                            <td class="nodata" colspan="{{ (config.fields | count: {display:true}) + 1 }}">
                                <span>暂无数据</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="data.length">
                        <tr ng-repeat="row in data">
                            <td>
                                <label>
                                    <input type="checkbox" ng-model="row.checked"/>
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td ng-repeat="field in config.fields | filter:{display:true}">
                                <a ng-if="field.key=='orderNo'" href="/cross_border/goods_declare_detail/{{paras.search.hgCode | lowercase}}/{{row.id}}/0">{{row[field.key]}}</a>
                                <span ng-if="field.key!='orderNo'">{{row[field.key]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-page row" ng-show="data.length">
                    <div class="col-sm-5 page-info">
                        <label>共 <span ng-bind="paras.pageCount"></span> 条 每页显示
                            <select class="input-sm" ng-model="paras.search.pageSize" ng-options="id for id in config.page_size_options"></select>
                        </label>
                    </div>
                    <div class="col-sm-7">
                        <div class="table-page" st-pagination="" st-items-by-page="paras.search.pageSize" st-display-page='paras.search.pageNum'></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>
